.MainBlock {
  display: flex;
  gap: 50px;
}

.MainBlock > p {
  display: flex;
  align-items: center;
}

.imageBlock {
  width: 50%;
  height: 150px;
}

.formsBlock {
  display: flex;
  gap: 10px;
  align-items: center;
}

.imageBlock img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.dataBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dataBlock p {
  margin: 5px;
  padding: 0;
  white-space: nowrap;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  list-style: none;
  text-align: left;
  cursor: pointer;
}

article {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

article > div:last-child {
  border: 2px solid red;
}

